<!-- Page Wrapper -->
<div id='wrapper'>

    

            <!-- Begin Page Content -->
            <div class='container-fluid'>

                <!-- 404 Error Text -->
                <div class='text-center'>
                    <div class='error mx-auto' data-text='Error'>Error</div>
                    <p class='lead text-gray-800 mb-5'>Không tìm thấy thông tin</p>
                    <p class='text-gray-500 mb-0'>Có lẽ thông tin đã bị xóa bỏ</p>
                    <a href='/'>&larr; Trở về</a>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class='sticky-footer bg-white'>
            <div class='container my-auto'>
                <div class='copyright text-center my-auto'>
                    <span>Copyright &copy; Nam Nguyen</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
